apispec==6.10.0
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
cloudinary==1.44.1
Django==6.0.4
django-ckeditor==6.7.3
django-cloudinary-storage==0.3.0
django-filter==25.2
django-js-asset==3.1.2
django-serializer==1.2.1
djangorestframework==3.17.1
idna==3.11
marshmallow==4.3.0
packaging==26.0
pillow==12.2.0
PyMySQL==1.1.2
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.6.3
